* {
  font-family: Roboto, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", 'Malgun Gothic', '맑은 고딕', sans-serif;
  color: #515151;
  box-sizing: border-box;
  font-size: 14px;
  font-style: normal;
}

a, a:hover, a:focus, a:active {
  color: #515151;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}

.extension_search {
  position: absolute;
  width: 200px;
  height: 30px;
  top: 10px;
  left: 20px;
}

.extension_search input {
  width: 200px;
  border: 2px solid #00C6AB;
  height: 30px;
  border-radius: 15px;
  appearance: none;
  -webkit-appearance: none;
}

.extension_search button {
  position: absolute;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background: none;
  border: none;
  /* 	border: 1px solid black; */
  right: 6px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.extension_search button:before {
  position: absolute;
  content: "";
  top: 10%;
  left: 10%;
  width: 40%;
  height: 40%;
  border: 2px solid #00C6AB;
  border-radius: 50%;
}

.extension_search button:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 40%;
  height: 2px;
  background: #00C6AB;
  transform-origin: 0% 50%;
  transform: rotate(45deg);
}

.empty .extension_settings {
  display: none;
}

.extension_settings {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
}

.setting_options {
  position: fixed;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 6;
  overflow: auto;
}

.setting_options.show {
  display: block;
}

.setting_options .equalizer {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -165px;
  margin-top: -220px;
  width: 330px;
  height: 440px;
  border-radius: 18px;
  background: #fff;
  padding: 24px;
}

.setting_options .equalizer .title:before {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 0 7px;
  background-size: 27px;
  background-image: url(./img/lp_ic_equalizer.svg);
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.setting_options .equalizer .title {
  color: #515151;
  font-size: 14px;
  font-weight: bold;
}

.setting_options .equalizer .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-image:url(./img/lp_ic_off.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.setting_options .equalizer ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  padding: 1px;
}

.setting_options .equalizer li {
  position: relative;
  padding: 0;
  width: 90px;
  height: 24px;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  float: left;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: -0.5pt;
  margin: 3px;
  border-radius: 1px;
  font-family: Roboto;
  cursor: pointer;
}

.setting_options .equalizer li:nth-child(3n+1) {
  margin-left:-1px;
}

.setting_options .equalizer li:nth-child(3n) {
  margin-right:-1px;
}

.setting_options .equalizer li:hover {
  border-color: #00e8b3;
  color: #00e8b3;
  border-width: 2px;
  z-index: 2;
}

.setting_options .equalizer li.checked {
  border-color: #2d2d2d;
  color: #2d2d2d;
  border-width: 2px;
  z-index: 2;
}

.custom_equalizer {
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 13px 0 9px;
}

.setting_options .custom_equalizer .band {
  position: relative;
  margin: 0;
  width: 23px;
  max-width: 50px;
  height: 106px;
  display: inline-block;
}

.setting_options .custom_equalizer [type="range"] {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 83px;
  height: 2px;
  -webkit-appearance: none;
  left: 50%;
  bottom: 20px;
  transform-origin: left center;
  transform: rotate(-90deg);
  outline: none;
}

.setting_options .custom_equalizer [type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #515151;
  -webkit-appearance: none;
}

.setting_options .custom_equalizer [type="range"]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: #f1f1f4;
  -webkit-appearance: none;
  margin-top: -5px;
  cursor: pointer;
}

.setting_options .custom_equalizer [type="range"]:before {
  position: absolute;
  content: attr(data-hz);
  width: 25px;
  right: 100%;
  text-align: center;
  margin-top: -3px;
  margin-left: -2px;
  transform: rotate(90deg);
  color: #515151;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  top: -4px;
}

.extension_body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.extension_start {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  user-select: none;
}

.extension_start.empty {
  display: block;
}

.extension_start.over {
  background-color: #f8f8f8;
}

.extension_start .title {
  padding: 15px;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -25px;
  line-height: 20px;
}

.extension_start .add {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -100px;
}

.extension_start .add label {
  display: block;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #515151;
  cursor: pointer;
  text-align: center;
  background-size:20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('./img/add_normal.svg');
}

.extension_start .add label:hover {
  background-color: #00e8b3;
  border: 2px solid #00e8b3;
  background-image:url('./img/add_hover.svg');
}

.extension_start .add label:active,
.extension_start.over .add label {
  box-shadow: 0 0 30px rgba(0, 232, 179, 0.2);
  background-color: #00e8b3;
  border: 2px solid #00e8b3;
  background-image:url('./img/add_hover.svg');
}

.extension_start .dashbox {
  width: 100%;
  height: 100%;
}

.extension_start.over .dashbox {
  border: 1px dashed #8e8e8e;
}

.extension_header {
  padding: 35px;
  height: 260px;
  background: linear-gradient(to bottom, #e9f3f3, #f6eff2);
  box-sizing: border-box;
}

.extension_playlist .extension_file_empty {
  position: absolute;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: none;
}

.extension_file_empty .logo {
  position: relative;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  /* 	vertical-align: bottom; */
  letter-spacing: 2px;
  font-size: 30px;
  color: #ccc;
}

.extension_playlist.empty .extension_file_empty {
  display: flex;
}

.extension_playlist.fileupload .extension_fileupload {
  height: 60px;
  animation: fileupload 3s ease-in-out 0s infinite both;
}

.extension_playlist.fileupload:after {
  content: "";
  position: relative;
  display: block;
  height: 40px;
}

@keyframes fileupload {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  20% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 1;
  }
}

.extension_playlist.fileupload ul {
  opacity: 0.8;
}

.extension_cover {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 15px;
  float: left;
}

.extension_cover img {
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
  width: inherit;
  height: inherit;
}

.extension_info .info_title,
.extension_info .info_artist,
.extension_info .info_album,
.extension_info .info_divider {
  overflow: hidden;
  white-space: nowrap;
}

.extension_info .info_artist {
  max-width: calc(100% - 154px);
}

.extension_info .info_title a,
.extension_info .info_album a,
.extension_info .info_artist a {
  display: inline-block;
  overflow: hidden;
}

.extension_info .info_album a,
.extension_info .info_artist a {
  width: 100%;
  text-overflow: ellipsis;
}

.extension_info .info_title {
  padding-top: 5px;
  height: 48px;
}

.extension_info .info_title .type {
  vertical-align: middle;
  margin-left: 10px;
}

.extension_info .info_title a span {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #515151;
  vertical-align: middle;
  padding-right: 25px;
}

.extension_info .info_divider {
  width: 20px;
  height: 2px;
  background-color: #515151;
}

.extension_info .info_artist a span,
.extension_info .info_album a span {
  display: inline-block;
  font-family: Roboto;
  vertical-align: middle;
  padding-right: 25px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.extension_info .info_album {
  margin-top: 7px;
}

.extension_info .info_album a span {
  color: #878481;
}

.extension_info .info_artist a span {
  color: #00e8b3;
}

.extension_info .info_title a:hover span
/*.extension_info .info_album a:hover span,
.extension_info .info_artist a:hover span*/ {
  animation: marquee 5s linear 0s infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.extension_progress {
  position: relative;
  clear: both;
  width: 100%;
  height: 4px;
}

.extension_progress .progress_bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c4c4c4;
  transition: all .1s linear;
  cursor: pointer;
}

.extension_progress .progress_bar:hover {

}

.extension_progress .progress_bar .load,
.extension_progress .progress_bar .now {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.extension_progress .progress_bar .load {
  background: #DADADA;
  display: none;
}

.extension_progress .progress_bar .now {
  background: #515151;
}

.extension_progress .progress_bar .now .handle {
  position: absolute;
  right: 0;
  width: 16px;
  height: 16px;
  top: 50%;
  margin-right: -8px;
  margin-top: -9px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  border-radius: 50%;
  transition: opacity 0.1s linear;
}

.extension_progress .progress_duration {
  position: absolute;
  left: 0;
  top: 13px;
  width: 100%;
}

.extension_progress .progress_duration .now,
.extension_progress .progress_duration .total {
  color: #878481;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
}

.extension_progress .progress_duration .total {
  float:right;
}

.extension_controller {
  position: relative;
  margin-top: 18px;
  margin-bottom: 18px;
  height: 30px;
}

.extension_controller a {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.extension_controller .prev,
.extension_controller .play,
.extension_controller .next,
.extension_controller .pause,
.extension_controller .repeat,
.extension_controller .shuffle,
.extension_controller .lyrics,
.extension_controller .volume,
.extension_controller .setting {
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
}

/* normal */
.extension_controller .prev {
  left: -7px;
  background-image:url('./img/lp_ic_back.svg');
}
.extension_controller .play {
  left: 32px;
  background-image:url('./img/lp_ic_play.svg');
}
.extension_controller .pause {
  left: 32px;
  background-image:url('./img/lp_ic_pause.svg');
}
.extension_controller .next {
  left: 72px;
  background-image:url('./img/lp_ic_forward.svg');
}
.extension_controller .volume_wrap .volume {
  background-image:url('./img/lp_ic_speaker.svg');
}
.extension_controller .volume_wrap.mute .volume {
  background-image:url('./img/lp_ic_speaker_disable.svg') !important;
}
.extension_controller .lyrics {
  background-image:url('./img/lp_ic_lyric_disable.svg');
  right: 40px;
}
.extension_controller .lyrics.dimmed {
  cursor: default !important;
}
.extension_controller .repeat {
  background-image:url('./img/lp_ic_repeat_disable.svg');
  right: 120px;
}
.extension_controller .shuffle {
  background-image:url('./img/lp_ic_shuffle_disable.svg');
  right: 80px;
}
.extension_controller .setting {
  background-image: url(./img/lp_ic_equalizer.svg);
  right: 0px;
  bottom: 80px;
}

/* active */
.extension_controller .shuffle.active {
  background-image:url('./img/lp_ic_shuffle.svg');
}
.extension_controller .repeat[data-repeat="1"] {
  background-image:url('./img/lp_ic_repeat.svg');
}
.extension_controller .repeat[data-repeat="2"] {
  background-image:url('./img/lp_ic_repeat_once.svg');
}
.extension_controller .lyrics.active {
  background-image:url('./img/lp_ic_lyric.svg');
}

/* hover */
.extension_controller .prev:hover {
  background-image:url('./img/lp_ic_back_hover.svg');
}
.extension_controller .play:hover {
  background-image:url('./img/lp_ic_play_hover.svg');
}
.extension_controller .pause:hover {
  background-image:url('./img/lp_ic_pause_hover.svg');
}
.extension_controller .next:hover {
  background-image:url('./img/lp_ic_forward_hover.svg');
}

.extension_controller .volume_wrap .volume:hover {
  background-image:url('./img/lp_ic_speaker_hover.svg');
}
.extension_controller .shuffle.active:hover {
  background-image:url('./img/lp_ic_shuffle_hover.svg');
}
.extension_controller .repeat[data-repeat="1"]:hover {
  background-image:url('./img/lp_ic_repeat_hover.svg');
}
.extension_controller .repeat[data-repeat="2"]:hover {
  background-image:url('./img/lp_ic_repeat_once_hover.svg');
}
.extension_controller .lyrics:not(.dimmed):hover {
  background-image:url('./img/lp_ic_lyric_hover.svg');
}
.extension_controller .setting:hover {
  background-image: url(./img/lp_ic_equalizer_hover.svg);
}

.extension_controller .volume_wrap {
  position: absolute;
  margin: auto;
  bottom: -3px;
  right: 0;
  width: 36px;
  height: 36px;
  overflow: hidden;
}

.extension_controller .volume {
  position: absolute;
  top: inherit;
  right: 0;
  width: 36px;
  height: 36px;
}

.extension_controller .volume_bar {
  position:absolute;
  right: 6px;
  bottom: 35px;
  width: 23px;
  height: 116px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color:#f4f4f4;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 350ms;
  cursor: pointer;
}

.extension_controller .volume_wrap:hover {
  height: 140px;
}

.extension_controller .volume_wrap:hover .volume_bar {
  opacity: 1;
}

.extension_controller .volume_bar .bar {
  position: absolute;
  left: 10px;
  top: 23px;
  width: 3px;
  box-sizing: content-box;
  height: 83px;
  background-color: #c4c4c4;
}

.extension_controller .volume_bar .bar .now {
  position: absolute;
  width: 100%;
  background-color: #ff615c;
}

.extension_controller .volume_bar .bar .now:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: #f1f1f4;
  margin-left: -5px;
  margin-top: -8px;
}

.extension_playlist {
  position: absolute;
  top: 260px;
  bottom: 52px;
  left: 0;
  right: 0;
  box-sizing: content-box;
  background-color:#f8f8f8;
}

#root_container .extension_playlist {
  top: 250px;
}

.extension_playlist ul, .playitem {
  margin: 0;
  list-style: none;
}

.playitem * {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.extension_playlist ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  overflow: auto;
  z-index: 1;
}

.playitem {
  position: relative;
  height: 62px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 -2px 0;
  padding: 0 32px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
}

.playitem:hover,
.playitem.checked {
  background-color: #ebebeb;
}

.playitem.upload_up {
  border-top-color: #00e8b3;
}

.playitem.upload_down {
  border-bottom-color: #00e8b3;
}

.playitem .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: calc(100% - 105px);
}

.playitem.is_playing a.title span.song {
  color: #ff615c;
}

.playitem .cover {
  position: relative;
}

.playitem .cover img {
  margin: 0 12px 0 6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.playitem .cover:hover:after,
.playitem.is_playing .cover::after,
.extension_playlist.pause .playitem.is_playing .cover::after {
  content: "";
  display: block;
  position: absolute;
  left:6px;
  top:0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#000;
  background-repeat: no-repeat;
  background-position: 58% 50%;
  background-size: 50%;
  background-image:url(./img/lp_ic_thumbnail_play.svg);
  opacity: 0.4;
}

.playitem.is_playing .cover::after {
  background-image:url(./img/lp_ic_thumbnail_pause.svg);
  background-position: 50% 50%;
}

.extension_playlist.pause .playitem.is_playing .cover::after {
  background-position: 58% 50%;
  background-image:url(./img/lp_ic_thumbnail_play.svg);
}

.playitem .song {
  font-weight: bold;
  margin-right: 5px;
}

.playitem .artist {
  font-size: 12px;
  color: #777;
}

.playitem .item_menu .music_type {
  vertical-align: middle;
  margin-right: 5px;
}

.playitem .item_menu .music_type .type, .extension_info .type {
  padding: 3px 5px;
  border: 1px solid;
  font-weight: bold;
  border-radius: 1px;
  font-size: 12px;
}

.playitem .item_menu .music_type .type.online, .extension_info .type.online {
  border-color: #00C6AB;
  color: #00C6AB;
}

.playitem .item_menu .music_type .type.local, .extension_info .type.local {
  border-color: #F1A045;
  color: #F1A045;
}

.playitem .item_menu .checkbox {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #515151;
  background: transparent;
  cursor:pointer;
  width: 12px;
  height: 12px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  box-sizing: border-box;
  vertical-align: middle;
  transition: all ease 0.2s;
}

.playitem .item_menu .checkbox:checked {
  border-color: #ff615c;
  background-color: #ff615c;
}

.extension_lyrics {
  display: none;
  padding: 26px 34px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: auto;
  background: white;
}

.extension_lyrics .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-image:url(./img/lp_ic_off.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.extension_lyrics pre {
  margin: 0;
  color: #878481;
  font-family: Roboto;
  font-size: 12px;
}

.extension_lyrics.show {
  display: block;
}

.extension_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 10px 0px 10px 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.03);
  z-index: 2;
}

.extension_toast {
  pointer-events: none;
  position: fixed;
  width: 270px;
  height: 40px;
  box-shadow: 0 0 30px rgba(81, 81, 81, 0.2);
  border-radius: 20px;
  background-color: #515151;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 40px;
  color: white;
  padding: 0px 15px;
  box-sizing: content-box;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  font-size: 13px;
  align-items: center;
  transition: opacity ease 350ms;
  opacity: 1;
  z-index: 8;
}

.empty .extension_toast {
  position: absolute;
  top: 201px;
  left: 0;
  right: 0;
  margin: auto;
  width: 270px;
  box-shadow: 0 0 30px rgba(255, 97, 92, 0.2);
  border-radius: 20px;
  background-color: #ff615c;
  color: #f4f3f4;
  height: 40px;
}

.extension_toast.hide {
  transition-property: opacity;
  transition-delay: 850ms;
  opacity: 0;
}

.extension_toast.hide_away {
  transition-property: none;
  transition-duration: 0;
  transition-delay: 0;
  opacity: 0;
}

.extension_toast p {
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 14px;
}

.extension_btns {
  padding: 0 10px;
  position: relative;
}

.extension_btns .btn {
  color: #515151;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  padding: 0 10px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.extension_btns .btn span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  left: -11px;
  top: 4px;
}

.extension_btns .all_select {
  left : 34px;
}

.extension_btns .all_select span {
  background-image: url(./img/lp_ic_selectall.svg);
}

.extension_btns .all_select.on span {
  background-image: url(./img/lp_ic_selected.svg) !important;
}

.extension_btns .all_select.on {
  color: #ff615c;
}

.extension_btns .delete {
  left : 50%;
  margin-left: -18px;
}

.extension_btns .delete span {
  background-image: url(./img/lp_ic_delete.svg);
}

.extension_btns .delete.dimmed span {
  background-image: url(./img/lp_ic_delete_disable.svg) !important;
}

.extension_btns .delete:hover {
  color: #ff615c;
}

.extension_btns .delete:hover span {
  background-image: url(./img/lp_ic_delete_hover.svg);
}

.extension_btns .add_music {
  right: 30px;
}

.extension_btns .add_music span {
  background-image: url(./img/lp_ic_add.svg);
}

.extension_btns .add_music:hover {
  color: #00e8b3;
}

.extension_btns .add_music:hover span {
  background-image: url(./img/lp_ic_add_hover.svg);
}

.extension_btns .dimmed {
  color: #e2e2e2 !important;
  cursor: default !important;
}

#file_local_music {
  display: none;
}

.extension_ghostimage {
  position: fixed;
  top: 100%;
  width: 100%;
}

.extension_ghostimage div.playitem {
  background: #f5f5f5;
  margin-bottom: 1px;
}

.extension_ghostimage div .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.extension_ghostimage .song {
  margin-right: 5px;
  font-weight: bold;
}

.extension_ghostimage .artist {
  font-size: 12px;
  color: #777;
}

.extension_close .wrapper {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 73px;
  height: 46px;
  width: 20px;
  z-index: 10000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
  overflow:hidden;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.extension_close .btn {
  display: inline-block;
  vertical-align: middle;
  width: 104px;
  background-color:transparent;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 18px;
  box-sizing: border-box;
  border: none;
  border-right: 1px solid #f7f7f7;
  font-size:11px;
  color:#fff;
  cursor: pointer;
  outline: none;
  opacity: 0.85;
}

.extension_close .btn:hover {
  opacity: 1.0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
}

.extension_close .btn.menu {
  position: relative;
  height: 46px;
  width: 24px;
  background-color: #ffffff;
  border-right: 1px solid #f7f7f7;
  margin: -1px 0 0 -1px;
}

.extension_close .btn.menu .arrow {
  position:absolute;
  top:50%;
  left:50%;
  margin: -6px 0 0 -3px;
  width: 7px;
  height: 12px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('./img/lp_ic_tohome_unfold.svg');
}

.extension_close .btn.menu .arrow:hover {
  background-image:url('./img/lp_ic_tohome_unfold_hover.svg');
}

.extension_close .wrapper:hover .btn.menu .arrow {
   transform: rotate(-180deg);
}

.extension_close .btn.home {
  width: 118px;
  height:20px;
  background-image:url('./img/lp_ic_tohome.svg');
  background-size: 100px;
}

.extension_close .btn.home:hover {
  background-image:url('./img/lp_ic_tohome_hover.svg');
}

.extension_close .wrapper:hover {
  width: 158px;
}

.extension_loading {
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: 10;
  background-color:rgba(240,240,240,0.9);
  display: none;
}

.extension_loading .msg {
  position:absolute;
  margin-top: -101px;
  left:0;
  top:50%;
  width:100%;
  text-align: center;
}

.extension_loading .spinner {
  width: 65px;
  height: 65px;
  position: relative;
  margin: 0px auto 27px;
}

.extension_loading .double-bounce1,
.extension_loading .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #00e6b3;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.extension_loading .double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}