html,
body {
  margin: 0;
  padding: 0;
  font-family: "Apple SD Gothic Neo", NanumBarunGothic, NanumGothic, "Malgun Gothic", dotum, sans-serif;
  color: #545454;
  font-size: 16px;
}

.blind {
  font-size: 0;
  height: 0;
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 0;
}

/******************************************/
/************* SiteCard Block *************/
/******************************************/

.site-card {
  background: #fff;
}

.site-card__link {
  display: block;
  color: #545454;
  padding: 5px 12px;
}

.site-card__link:hover {
  background: #eff1f4;
}

.site-card__media {
  display: inline-block;
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  background: #c5cbd3;
}

.site-card__image {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-color: #fff;
}

.site-card__media--shadow {
  box-shadow: 0 0 1px #000;
}

.site-card__title {
  display: inline-block;
  margin-left: 10px;
  line-height: 40px;
}

/******************************************/
/*************** Header Block *************/
/******************************************/

.header {
  width: 100%;
  background: #3c9ec5;
  text-align: center;
}

.header__inner {
  position: relative;
}

.header__tab-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__tab-item {
  flex-grow: 1;
}

.header__tab-link {
  display: block;
  color: #d1d7df;
  text-decoration: none;
  font-weight: 200;
  line-height: 46px;
}

.header__tab-link:hover,
.header__tab-item--active .header__tab-link {
  color: #fff;
}

.header__tab-indicator {
  position: absolute;
  height: 4px;
  background: #fff;
  bottom: 0;
}

/******************************************/
/*********** ManhwaCompany Block **********/
/******************************************/

.manhwa-company {
  background: #e6e7ea;
}

.manhwa-company__title {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  line-height: 1;
  padding: 10px 12px 7px;
}

.manhwa-company__list {
  padding: 0;
  margin: 0;
}

.manhwa-company__item {
  border-top: 1px solid #d8dce1;
}

.manhwa-company__item:last-child {
  border-bottom: 1px solid #d8dce1;
}










