.Nicon_service {
    color:red;
}
div{
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #00d398;
    padding-bottom: 20px;
    background-color: #878481;
}